[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3'

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
uwsgi = "*"
beatbox = {editable = true,git = "https://github.com/superfell/Beatbox",ref = "master"}

[scripts]

[pipenv]
allow_prereleases = true
